@font-face{
	font-family: "bookkmyungjo";
	src: url("./fonts/bookkm_bold.ttf");
}

@font-face{
	font-family: "bookkmyungjo_light";
	src: url("./fonts/bookkm_light.ttf");
}


.kkakline{
	height: 70px;
	width: fit-content;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}


.topBar {
	position: relative;
	font-family: "bookkmyungjo";
	width: 100%;
	height: 56px;
	font-size: 16px;
	line-height:  32px;
	margin-bottom: 0px;
	-webkit-user-select:none;
	-moz-user-select:none;
	text-align: center;
	background: rgba(255, 255, 255, 0.90);
	box-shadow: 0px -40px 40px 0px rgba(255, 208, 230, 0.25) inset;
	backdrop-filter: blur(2px);
	color: #E6195E;
	font-weight: 700;
	z-index: 1001;
	border-bottom: 0.3px solid #E6195E;
}

.topTitle{
	padding: 12px;
}


.topMenu{
	position: absolute;
	width: 100%;
	height: 56px;
}

.hambtnwrap{
	float: right;
	margin: 12px 18px 12px 18px;
	width: 34px;
	height: 34px;
}

.hambtn{
	padding: 1px;
	width: 34px;
	height: 34px;
	cursor: pointer;
	background: none;
	border: none;
}

.hambtn:hover{
	padding: 0;
	width: 34px;
	height: 34px;
	background: none;
	border-radius: 50%;
	border: 0.3px solid #E6195E;
}



.sbw{
	position: relative;
	width: 100%;
	height: auto;
	min-height: calc(100% - 56px);
}

.sideBar {
	position: absolute;
	left: 100%;
	height: 100%;
	width: 236px; 
	display: flex; 
	flex-direction: column;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
	z-index: 1002;
	background: rgba(255, 255, 255, 0.90);
	box-shadow: 0px -100px 40px 0px rgba(255, 208, 230, 0.25) inset;
	backdrop-filter: blur(2px);
	border-left: 0.3px solid #E6195E;
	text-align: left;
	padding: 32px 26px 32px 26px;
	
	
}

.sideBar h3{
	color: #000;
	font-family: "bookkmyungjo";
	font-size: 28px;
	font-weight: 700;
	line-height: 28px;
	text-align: left;
	margin: 0 0 18px 0;
	letter-spacing: -0.5px;

}

.sideBar h4{
	color: #000;
	font-family: "bookkmyungjo";
	font-size: 22px;
	font-weight: 700;
	line-height: 28px;
	text-align: left;
	margin: 15px 0 0 0;
	letter-spacing: -0.5px;

}

.sideBar p{
	font-family: "bookkmyungjo_light";
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: -0.5px;
	text-align: left;
	margin: 0 0 18px 0;
}

.sideBar .kkak{
	color: #E6195E;
}

.sbname{
	color: #e6195e;
	font-family: "bookkmyungjo";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	height: 20px;
	margin-top: 15px;
	letter-spacing: -0.5px;
}

.sbprofile{
	font-family: "bookkmyungjo_light";
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;
	margin: 4px 0 0 0;
	letter-spacing: -0.5px;
}

a{
	font-family: "bookkmyungjo_light";
	color: #000;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;
	margin: 4px 0 0 0;
	letter-spacing: -0.5px;
	text-decoration: underline;
}

a:visited{
	font-family: "bookkmyungjo_light";
	color: #000;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	text-align: left;
	margin: 4px 0 0 0;
	letter-spacing: -0.5px;
	text-decoration: underline;
}


.kkaktext{
	color: #e6195e;
	font-family: "bookkmyungjo";
	float: left;
	cursor: pointer;
}

.kkaktext#t1{
	position: relative;
	top: -20;
	animation-duration: 40s;
	animation-name: blink;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t2{
	position: relative;
	top: 20;
	animation-duration: 40s;
	animation-name: blink2;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t3{
	animation-duration: 40s;
	animation-name: blink;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t4{
	animation-duration: 40s;
	animation-name: blink3;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t5{
	animation-duration: 14s;
	animation-name: blink2;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.clsbtn{
	position: absolute;
	display: none;
	width: 24px;
	height: 24px;
	top: 10;
	right: 11;
	/*cursor: pointer;*/
	border: none;
	text-align: center;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0);
	padding: 0;
	opacity: 100%;
	cursor: pointer;
}

.clsbtn:hover{
	border: 0.3px solid #E6195E;
	border-radius: 50%;
}


.modpopmsg{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	min-height: 100vh;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.00);
	/*-filter: blur(2px);*/
	z-index: 1000;
}

.modpop_inner{
	display: none;
	min-height: 276px;
	max-height: 276px;
	width: 353px;
	box-sizing: border-box;
	/*border-radius: 1%;*/
	overflow: hidden;
	position: fixed;
	top: 30%;
	transform: translateY(-50%);
	left: 50%;
	background: rgba(255, 255, 255, 0.90);
	-webkit-transform: translateX(-50%);
	z-index: 1001;
	opacity: 100%;
	padding: 0px 16px 26px 36px ;
	box-shadow: 0px -40px 40px 0px rgba(255, 208, 230, 0.25) inset;
	backdrop-filter: blur(2px);
	border: 0.3px solid #E6195E;
	
}

.popbodywrap{
	width: 100%;
	height: calc(276px - 94px);
	text-align: center;
	max-height: 400px;
	overflow-y: auto;
	
}


.popbody{
	
	padding-right:16px;
	display: block;
	max-height: calc(276px-26px);
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: -0.5px;
	font-family:  "bookkmyungjo_light";
	color: rgba(0,0,0,1);
	
	word-break: keep-all;
	
	-webkit-background-clip: text;
}

.popbodywrap::-webkit-scrollbar{
  width: 4px;
  height: auto;
  margin-left: 10px;
}

.popbodywrap::-webkit-scrollbar-thumb{
  width: 4px;
  height: auto;
  border-radius: 2px;
  background: #E6195E;
}


.popbodywrap::-webkit-scrollbar-track{
  width: 4px;
  height: auto;
  border-radius: 2px;
  border: 0.3px solid #E6195E;
}


.pophead{
	font-family:  "bookkmyungjo";
	color: #E6195E;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	padding-right: 20px;
}



@keyframes blink{
	0% {
		opacity: 100%;
	}
	50%{
		opacity: 40%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes blink2{
	0% {
		opacity: 50%;
	}
	8%{
		opacity: 40%;
	}
	58%{
		opacity: 100%;
	}
	100% {
		opacity: 50%;
	}
}

@keyframes blink3{
	0% {
		opacity: 70%;
	}
	25%{
		opacity: 40%;
	}
	75%{
		opacity: 100%;
	}
	100% {
		opacity: 70%;
	}
}

.kkakblank{
	height: inherit;
	float: left;
}

.kkakblank#p1{
	width: 50px;
}
.kkakblank#p2{
	width: 100px;
}
.kkakblank#p3{
	width: 150;
}
.kkakblank#p4{
	width: 200px;
}

.kkakbutton{
	height: 44px;
	text-align: right;
}

.kkakbtn{
	width: 44px;
	height: 44px;
	filter: drop-shadow(2.636px 2.636px 5.271px rgba(230, 25, 94, 0.25));
	color: #FFF;
	border-radius: 50%;
	border: none;
	background-color: #E6195E;
	font-family: "bookkmyungjo";
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.72px; /* 163.636% */
	margin-bottom: 18px;
	cursor: pointer;
	
}

.kkakbtn:hover{
	width: 44px;
	height: 44px;
	filter: drop-shadow(2.636px 2.636px 5.271px rgba(230, 25, 94, 0.25));
	color: #E6195E;
	border-radius: 50%;
	border: 0.3px solid #E6195E;
	background-color: #FFF;
	font-family: "bookkmyungjo";
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.72px; /* 163.636% */
	margin-bottom: 18px;
}

.kkakbtn:active{
	width: 44px;
	height: 44px;
	color: #E6195E;
	border-radius: 50%;
	border: 0.3px solid #E6195E;
	background-color: #FFF;
	font-family: "bookkmyungjo";
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 23.72px; /* 163.636% */
	margin-bottom: 18px;
	box-shadow: 0px 0px 20px 0px #E6195E;
}


