@font-face{
	font-family: "bookkmyungjo";
	src: url("./fonts/bookkm_bold.ttf");
}

.kkaktext{
	color: #e6195e;
	font-family: "bookkmyungjo";
	float: left;
	cursor: pointer;
}

.kkaktext#t1{
	position: relative;
	top: -20;
	animation-duration: 40s;
	animation-name: blink;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t2{
	position: relative;
	top: 20;
	animation-duration: 40s;
	animation-name: blink2;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t3{
	animation-duration: 40s;
	animation-name: blink;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t4{
	animation-duration: 40s;
	animation-name: blink3;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.kkaktext#t5{
	animation-duration: 14s;
	animation-name: blink2;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

.clsbtn{
	position: absolute;
	display: none;
	width: 60px;
	height: 60px;
	top: 0;
	right: 0;
	/*cursor: pointer;*/
	text-align: center;
	z-index: 1;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	padding: 0;
	opacity: 100%;
}

.modpopmsg{
	display: none;
	position: absolute;
	height: auto;
	width: auto;
	min-height: 100%;
	overflow: hidden;
	background: #000;
	opacity: 30%;
	z-index: 1000;
}

.modpop_inner{
	max-width: 390px;
	min-height: 500px;
	width: calc(100% - 48px);
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	position: fixed;
	top: 20%;
	left: 50%;
	background: #FFF;
	-webkit-transform: translateX(-50%);
	z-index: 1001;
	opacity: 100%;
}

.popbody{
	margin: 20;
	position: absolute;
}

.pophead{
	margin: 20;
	position: absolute;
}



@keyframes blink{
	0% {
		opacity: 100%;
	}
	50%{
		opacity: 40%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes blink2{
	0% {
		opacity: 50%;
	}
	8%{
		opacity: 40%;
	}
	58%{
		opacity: 100%;
	}
	100% {
		opacity: 50%;
	}
}

@keyframes blink3{
	0% {
		opacity: 70%;
	}
	25%{
		opacity: 40%;
	}
	75%{
		opacity: 100%;
	}
	100% {
		opacity: 70%;
	}
}

.kkakblank{
	height: inherit;
	float: left;
}

.kkakblank#p1{
	width: 50px;
}
.kkakblank#p2{
	width: 100px;
}
.kkakblank#p3{
	width: 150;
}
.kkakblank#p4{
	width: 200px;
}

.kkakline{
	height: 70px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}